# CSV file create

In [4]:
import pandas as pd
dis={"a":[23,63,652,362,85,],"d":[65,23,5582,55,555],"g":[56,47,4,74,71]}
d=pd.DataFrame(dis)
print(d)
d.to_csv("text_new.csv")

     a     d   g
0   23    65  56
1   63    23  47
2  652  5582   4
3  362    55  74
4   85   555  71

# How to remove Row no.:

In [7]:
import pandas as pd
dis={"a":[23,63,652,362,85,],"d":[65,23,5582,55,555],"g":[56,47,4,74,71]}
d=pd.DataFrame(dis)
print(d)
d.to_csv("text_new1.csv",index=False)

     a     d   g
0   23    65  56
1   63    23  47
2  652  5582   4
3  362    55  74
4   85   555  71

# Change to Header:

In [21]:
import pandas as pd
dis={"a":[23,63,652,362,85,],"d":[65,23,5582,55,555],"g":[56,47,4,74,71]}
d=pd.DataFrame(dis)
print(d)
d.to_csv("text_new2.csv",index=False,header=[1,2,3])

     a     d   g
0   23    65  56
1   63    23  47
2  652  5582   4
3  362    55  74
4   85   555  71


# Read python CSV file:

In [ ]:

import pandas as pd
csv_2 = pd.read_csv("C:\\Users\\Paras\\Desktop\\text.csv")
csv_2

# Particular rows

In [ ]:
import pandas as pd
csv_2 = pd.read_csv("C:\\Users\\Paras\\Desktop\\text.csv",nrows=1)
csv_2

# Getting Particular column :

In [ ]:
import pandas as pd
csv_3 = pd.read_csv("C:\\Users\\Paras\\Desktop\\text.csv",usecols=[symbols])
csv_3.

In [ ]:
import pandas as pd
csv_1 = pd.read_csv("C:\\Users\\Paras\\Desktop\\text.csv",skiprows=0)
csv_1

In [ ]:

csv_1 = pd.read_csv("C:\\Users\\Paras\\Desktop\\text.csv",hearder = 2)
csv_1

# name change:

In [ ]:
import pandas as pd
csv_4 = pd.read_csv("C:\\Users\\Paras\\Desktop\\text.csv", name =["col1","cols2","cols3"])
csv_4

# Remove header:

In [ ]:

csv_1 = pd.read_csv("C:\\Users\\Paras\\Desktop\\text.csv",header= None,prefix= "cols")
csv_1

In [ ]:

csv_1 = pd.read_csv("C:\\Users\\Paras\\Desktop\\text.csv",Dtype={"column":"float"})
csv_1

# Panads Function:

In [45]:
import pandas as pd
dataset = pd.read_csv("C:\\Users\\Paras\\Downloads\\industry.csv")
dataset.head()

                        Industry
0             Accounting/Finance
1   Advertising/Public Relations
2             Aerospace/Aviation
3  Arts/Entertainment/Publishing
4                     Automotive

# dataset index

In [49]:
dataset.index

RangeIndex(start=0, stop=43, step=1)

# dataset columns

In [56]:
dataset.columns

Index(['Industry'], dtype='object')

# dataset describe

In [60]:
dataset.describe()

                  Industry
count                   43
unique                  43
top     Accounting/Finance
freq                     1

In [62]:
dataset.tail()

                    Industry
38             Skilled Labor
39                Technology
40        Telecommunications
41  Transportation/Logistics
42                     Other