# Merge

In [8]:
import pandas as pd 
var1= pd.DataFrame({"A":[1,2,3,4,5],"B":[1,2,3,4,5]})
var2=pd.DataFrame({"A":[1,2,3,4,5],"c":[11,22,33,44,55]})

pd.merge(var1,var2,on="A")

   A  B   c
0  1  1  11
1  2  2  22
2  3  3  33
3  4  4  44
4  5  5  55

# change column name

In [15]:
pd.merge(var1,var2,left_index=True,right_index=True,suffixes=("name","id"))

   Aname  B  Aid   c
0      1  1    1  11
1      2  2    2  22
2      3  3    3  33
3      4  4    4  44
4      5  5    5  55

# Concat